<% layout("layout") %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

    <div class="main_content">
        <div class="container">
            <div class="lg:flex lg:space-y-10">
                <div class="flex flex-1 items-center space-x-4 uk-sticky" uk-sticky="offset:60" style="z-index: 99999; background-color: white;" id="gizle">
                    <a href="#">
                        <img src="../../../front/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-10 h-10">
                    </a>
                    <div class="flex-1 font-semibold capitalize">
                        <h3 class="text-lg font-semibold">
                            <%= konu.title %>
                        </h3>
                        <p class="text-sm text-gray-400 mb-2"> Yazar: <span data-href="%40tag-dev.html">Abdullah Bektaş</span> |
                            <%= moment(konu.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce </span>
                        </p>
                    </div>
                </div>
                <div class="lg:w-3/4 lg:px-20 space-y-12">
                    <div class="flex flex-1 items-center space-x-4 uk-sticky" uk-sticky="offset:60" style="z-index: 99999; background-color: white;" id="son">
                        <a href="#">
                            <img src="../../../front/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-10 h-10">
                        </a>
                        <div class="flex-1 font-semibold capitalize">
                            <h3 class="text-lg font-semibold">
                                <%= konu.title %>
                            </h3>
                            <p class="text-sm text-gray-400 mb-2"> Yazar: <span data-href="%40tag-dev.html">Abdullah Bektaş</span> |
                                <%= moment(konu.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce </span>
                            </p>
                        </div>
                    </div>
                        <div class="p-4 space-y-3">
                            <div class="border-t py-4 space-y-4 dark:border-gray-600" style="width: 100%; height: 80vh; overflow-y: scroll;">
                                <% konu.comment.forEach(element => { %>
                                    <div class="flex">
                                        <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                                            <img src="../../../front/images/avatars/avatar-2.jpg" alt="" class="absolute h-full rounded-full w-full">
                                        </div>
                                        <div>
                                            <div class="py-2 px-3 rounded-md relative lg:ml-5 ml-2 lg:mr-12">
                                                <p class="leading-6" style="font-size: 15pt;">
                                                    <%= element.yorum %>
                                                </p>
                                            </div>
                                            <div class="text-sm flex items-center space-x-3 mt-2 ml-5">
                                                <p style="text-align: right;">
                                                    <a href="#" class="text-1xl" style="text-align: right;"> <i class="uil-heart"></i> </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <% }) %>
                            </div>
                        </div>

                </div>

                <div id="son" class="lg:w-1/4 w-full flex-shrink-0">

                    <div uk-sticky="offset:100" class="uk-sticky">

                        <h2 class="text-2xl font-semibold mb-3"> Son Eklenen Konular </h2>
                        <ul>
                            <% sozluk.forEach(element => { %>
                                <li>
                                    <a href="blog-read.html" class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                        <h3 class="font-medium line-clamp-2">
                                            <%= element.title %>
                                        </h3>
                                        <div class="flex items-center my-auto text-xs space-x-1.5">
                                            <div>
                                                <%= moment(element.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce</div>
                                            <div class="pb-1"> . </div>
                                            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                            <div>
                                                <%= element.comment.length %>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                        <br>

                        <h4 class="text-xl font-semibold mb-3"> Etiketler </h4>

                        <div class="flex flex-wrap gap-2">
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🔵🟠 GÜNDEM</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🎞🍿 FİLM</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🛍 ALIŞVERİŞ</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> ⚽️🏀🏐 SPOR</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div id="create-post-modal" class="create-post" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg p-0 lg:w-5/12 relative shadow-2xl uk-animation-slide-bottom-small">

                <div class="text-center py-4 border-b">
                    <h3 class="text-lg font-semibold"> Konuya yorum ekliyorsunuz </h3>
                    <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close uk-tooltip="title: Close ; pos: bottom ;offset:7"></button>
                </div>
                <div class="flex flex-1 items-start space-x-4 p-5">
                    <img src="../../../front/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-11 h-11">
                    <div class="flex-1 pt-2">
                        <input type="hidden" id="sid" value="<%= konu._id %>">
                        <textarea v-model="yorum" class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none" rows="5" placeholder="Eklemek istediğiniz içeriği giriniz."></textarea>
                    </div>

                </div>
                <div class="bsolute bottom-0 p-4 space-x-4 w-full">

                </div>
                <div class="flex items-center w-full justify-between p-3 border-t">

                    <select class="selectpicker mt-2 col-4 story">
                        <% etiket.forEach(element => { %>
                            <option value=""> <%= element.tag %> </option>
    
                            <% }) %>
                    </select>

                    <div class="flex space-x-2">
                        <button @click="ekle()" style="color: white;" class="uk-close bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                          Paylaş </button>
                    </div>

                    <button @click="ekle()" style="color: white;" hidden class="uk-close bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                        Paylaş </button>
                </div>
            </div>
        </div>
    </div>

